.mainContainer{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px 50px;
	height: 100vh;
}

.mainSectionContainer{
	max-width: 1100px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.articleTitleAccess h2{
	margin-bottom: 30px;
}

.inputs{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50%;
	gap: 30px;
}

.containerSelects{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	max-width: 200px;
	width: 100%;
}

.containerSelects select{
	font-size: 0.9em;
	padding: 10px 5px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	color: #8a8a8a;
	width: 100%;
}

.accessButton{
	padding: 16px 26px;
	border-radius: 10px;
	border: none;
	cursor: pointer; 
	background-color: #000;
	color: #fff;
	font-weight: bold;
	transition: 0.5s;
	position: relative;
}

.spanStatusActive{
	width: 100%;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	padding: 12px;
	color: #67a127;
}

.spanStatusDeactivate{
	width: 100%;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	padding: 12px;
	color: #b1281f;
}

.articleTable{
	display: flex;
	flex-direction: column;
}

/*----------------------------------------TABLE-------------------------------------*/

.overflowTable{
	overflow: auto;
	max-height: 200px;
}

.firsRow{
	font-weight: 600;
}

.tableRow{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	padding: 10px;
	/*border-bottom: 1px solid #dedede;*/
}

.tableRow span{
	max-width: 150px;
	width: 100%;
}

.line{
	height: 1px;
	width: 100%;
	margin: 5px 0;
	background-color: #dedede;
}

.tableRowHover{
	transition: 0.1s;
}

.accessDenied{
	color: #ff0000;
}

.accessGranted{
	color: #29bd00;
}