
/*---------------------------------------------------------- SEÇÃO MAIN -----------------------------------------------------------*/
/*--------------------------MAIN: */
.mainContainer{
	display: flex;
	justify-Content: center;
	width: 100%;
	padding: 20px 50px;
	height: 100vh;
}

.mainSectionContainer{
	max-width: 1100px;
	width: 100%;
}

.articleInputs h2{
	margin-bottom: 30px;
}

/*-------------------------INPUTS / BUTTONS: */

.inputsContainer{
	display: flex;
	gap: 15px;
	margin-bottom: 90px;
}

.searchBarContainer{
	display: flex;
	height: 35px;
	max-width: 400px;
	width: 100%;
	border: 1px solid #dedede;
	border-radius: 7px;
	padding: 0 5px;
}

.searchBarContainer img{
	width: 25px;
	margin-right: 5px;
	filter: brightness(0) saturate(100%) invert(56%) sepia(11%) saturate(11%) hue-rotate(352deg) brightness(96%) contrast(87%);
}

.searchBarContainer input{
	width: 100%;
	font-size: 0.95em;
	outline: none;
	border: none;
	border-left: 1px solid #dedede;
	padding-left: 5px;
}


/*-------------------------TABLE: */

.articleTable{
	display: flex;
	flex-direction: column;
}

.tableRow{
	display: flex;
	justify-Content: space-Between;
	align-Items: center;
	height: 60px;
	padding: 10px;
	font-weight: 600;
	/*borderBottom: 1px solid #dedede;*/
}

.idNameContainer{
	display: flex;
	align-Items: center;
	max-width: 300px;
	width: 100%;
}

.idCell{
	max-width: 100px;
	width: 100%;
	color: #8a8a8a;
	font-weight: bold;
}

.nameCell{
	max-width: 200px;
	width: 100%;
}

.roleCell{
	max-width: 170px;
	width: 100%;
}

.activeCell{
	max-width: 150px;
	width:100%;
}

.firstRow{
	font-weight: bold;
}

.cargoSettingsContainer{
	display: flex;
	align-Items: center;
	max-width: 345px;
	width: 100%;
}

.cargoSettingsContainer a{
	width: 25px;
	height: 25px;
	transition: 0.2s;
}

.cargoSettingsContainer a:hover{
	animation: rotateAnimation 3s infinite linear;
	transition: 0.2s;
	scale: 1.2;
}

.cargoSettingsContainer button{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.cargoSettingsContainer button img{
	width: 30px;
	height: 30px;
}

.line{
	height: 1px;
	width: 100%;
	margin: 5px 0;
	background-Color: #dedede;
}

.tableRowHover{
	transition: 0.3s;
}

.tableRowHover:hover{
	background-Color: #ededed;
	border-Radius: 10px;
	transition: 0.3s;
}

.overflowTable{
	max-height: 450px;
	overflow: auto;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}