*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	display: flex;
}

#header-container{
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 270px;
	width: 100%;
	border-right: 2px solid #dedede;
}

#header-titles{
	display:flex;
	flex-direction: column;
	gap: 40px;
	margin: 20px;
}

#header-titles h2{
	font-size: 1.4em;
	user-select: none;
}

#header-titles h3{
	font-size: 1.1em;
	user-select: none;

}

#border{
	margin: 0 auto 15px auto;
	height: 2px;
	width: 85%;
	background-color: #dedede;
}

#navbar ul{
	display: flex;
	flex-direction: column;
	list-style: none;
	width:100%;
	gap: 5px;
	user-select: none;
}

#navbar ul li{
	display: flex;
	justify-content: center;
}

.navbar-links{
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 254px;
	width: 100%;
	height: 40px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

/*.navbar-links svg{
	margin-left: 5px;
	width: 25px;
}*/

.navbar-links img{
	margin-left: 10px;
	width: 25px;
	transition: 0.3s;
}

.navbar-links:hover{
	background-color: #ededed;
	border-radius: 10px;
	transition: 0.5s;
}

.navbar-links:hover img{
	margin-right: 55px;
	transition: 0.5s;
}

/* CASO USAR ESSA ANIMAÇÃO, REMOVER A CLASSE .navbar-links:hover img:
	.navbar-links::before{
	content: "";
	width: 0;
	transition: 0.3s;
}

.navbar-links:hover::before{
	width: 10px;
	transition: 0.3s;
}*/

/* CASO FOR USAR AS IMAGENS EM FORMATO DE SVG, USAR ESSA CLASSE PARA MUDAR DE COR AO PASSAR O MOUSE SOBRE OS LINKS:
	.navbar-links:hover{
	fill: #00aaff;
	color: #00aaff;
	transition: 0.3s;
}*/

/*---------------------------------------------------------- SEÇÃO MAIN -----------------------------------------------------------*/
/*--------------------------MAIN: */
#main-container{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px 50px;
}

#main-section-container{
	max-width: 1100px;
	width: 100%;
}

#article-inputs h2{
	margin-bottom: 30px;
}

/*--------------------------INPUTS / BUTTONS: */

#inputs-container{
	display: flex;
	gap: 15px;
	margin-bottom: 90px;
}

#search-bar-container{
	display: flex;
	height: 35px;
	max-width: 400px;
	width: 100%;
	border: 1px solid #dedede;
	border-radius: 7px;
	padding: 0 5px;
}

#search-bar-container img{
	width: 25px;
	margin-right: 5px;
	filter: brightness(0) saturate(100%) invert(56%) sepia(11%) saturate(11%) hue-rotate(352deg) brightness(96%) contrast(87%);
}

#search-bar-container input{
	width: 100%;
	font-size: 0.95em;
	outline: none;
	border: none;
	border-left: 1px solid #dedede;
	padding-left: 5px;
}

#filter-button-container{
	display: flex;
	align-items: center;
	max-width: 90px;
	width: 100%;
	height: 35px;
	border: 1px solid #dedede;
	border-radius: 7px;
}

#filter-button{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 7px;
	font-size: 0.9em;
	font-weight: bold;
	background-color: transparent;
	color: #8a8a8a;
	border: none;
	cursor: pointer;
}

#filter-button img{
	width: 25px;
	border: none;
	filter: brightness(0) saturate(100%) invert(56%) sepia(11%) saturate(11%) hue-rotate(352deg) brightness(96%) contrast(87%);
}

/*--------------------------TABLE: */

#article-table{
	display: flex;
	flex-direction: column;
}

.table-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 10px;
	font-weight: 600;
	/*border-bottom: 1px solid #dedede;*/
}

.id-name-container{
	display: flex;
	align-items: center;
	max-width: 300px;
	width: 100%;
}

.id-cell{
	max-width: 100px;
	width: 100%;
	color: #8a8a8a;
	font-weight: bold;
}

.name-cell{
	max-width: 200px;
	width: 100%;
}

.role-cell{
	max-width: 170px;
	width: 100%;
}

.active-cell{
	max-width: 150px;
	width:100%;
}

.first-row{
	font-weight: bold;
}

.cargo-settings-container{
	display: flex;
	align-items: center;
	max-width: 345px;
	width: 100%;
}

.cargo-settings-container a{
	width: 25px;
	height: 25px;
	transition: 0.2s;
}

.cargo-settings-container a:hover{
	animation: rotateAnimation 3s infinite linear;
	transition: 0.2s;
	scale: 1.2;
}

.line{
	height: 1px;
	width: 100%;
	margin: 5px 0;
	background-color: #dedede;
}

.table-row-hover{
	transition: 0.3s;
}

.table-row-hover:hover{
	background-color: #ededed;
	border-radius: 10px;
	transition: 0.3s;
}

#overflow-table{
	max-height: 450px;
	overflow: auto;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}